h1 {
    color: rgb(255, 38, 0);
  }
  h2 {
    font-style: italic;
    text-align: center;
    color: rgb(43, 255, 0);
  }
  p {
    color: crimson;
  }
  body {
    background-color: burlywood;
    font-family: sans-serif;
    text-align: center;
  }
